<p><a href="#" onclick="updateElement();">コンテンツの更新</a></p>
<p id="response"></p>
<script type="text/javascript">
  function updateElement() {
    $.ajax({
      type: "GET",
      url: "/chapters/myresponse",
      dataType: 'html'
    }).done(function(response){
      $('#response').text($(response).find('p').text());
    });
  }
</script>
