<p><%= link_to "サーバー呼び出し(ヘルパ使用)", "/chapters/myresponse", :remote => true %></p>
<p id="response"></p>
<!-- <script type="text/javascript">
  function updateElement() {
    $.ajax({
      type: "GET",
      url: "/chapters/myresponse",
      dataType: 'html'
    }).done(function(response){
      $('#response').text($(response).find('p').text());
    });
  }
</script> -->
